syntax: glob
.project
build
*.user
*.kate-swp
.kdev_include_paths
.DS_Store

lib/libjpeg/libjpeg-turbo-1.2.0/autom4te.cache
rok4/Pyramid.cpp.autosave
CMakeLists.txt.user
syntax: regexp
~
*kdev4*
autosplit.ix
.orig
target
.vagrant
.vagrant.d
^install
.vscode