version: "3"
services:
  front:
    image: nginx
    ports:
      - "8082:80"
    links:
      - middle
    environment:
      - ROKSERVER_PREFIX=data
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/templates/default.conf.template
      - ./viewer:/usr/share/nginx/html/viewer

  middle:
    image: rok4/rok4server:3.11.0-centos7
    volumes:
      - volume-limadm:/pyramids/LIMADM
      - volume-alti:/pyramids/ALTI
      - volume-ortho:/pyramids/BDORTHO

  data-limadm:
    image: rok4/dataset:geofla-martinique
    volumes:
      - volume-limadm:/pyramids/LIMADM

  data-alti:
    image: rok4/dataset:bdalti-martinique
    volumes:
      - volume-alti:/pyramids/ALTI

  data-ortho:
    image: rok4/dataset:bdortho5m-martinique
    volumes:
      - volume-ortho:/pyramids/BDORTHO

volumes:
  volume-limadm:
  volume-alti:
  volume-ortho: